In [1]:
import sklearn

In [2]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
plt.style.use('seaborn')
from urllib.parse import urlparse
import re
import toolz

In [3]:
# CONSTANTS
path = Path('../data/')

In [4]:
df = pd.read_csv(path/'interim/classification.tsv', index_col=0)

In [5]:
df

,Primary Category,Secondary Category,Title,URL
0,Arts & Humanities,Architecture,68 Dean Street,http://www.sixty8.com/
1,Arts & Humanities,Architecture,Abandoned Communities,http://www.abandonedcommunities.co.uk/
2,Arts & Humanities,Architecture,Alexander Thomson Society,http://www.greekthomson.com/
3,Arts & Humanities,Architecture,"Arab British Centre, The",http://www.arabbritishcentre.org.uk/
4,Arts & Humanities,Architecture,Architectural Association School of Architecture,http://www.aaschool.ac.uk/
...,...,...,...,...
26793,Travel & Tourism,Cornwall,West Briton and Cornwall Advertiser - transcri...,http://freepages.genealogy.rootsweb.ancestry.c...
26794,Travel & Tourism,Cornwall,West Cornwall Community Network,http://www.wccn.org.uk/
26795,Travel & Tourism,Cornwall,West Penwith Resources,http://www.west-penwith.org.uk/
26796,Travel & Tourism,Cornwall,Yeate Farm - the Granary self-catering accommo...,http://www.yeatefarm.co.uk/
26797,Travel & Tourism,Cornwall,geecee.co.uk,http://www.geecee.co.uk/

In [6]:
features = pd.get_dummies(df)

In [7]:
features

,Primary Category_Arts & Humanities,"Primary Category_Business, Economy & Industry",Primary Category_Company Web Sites,"Primary Category_Computer Science, Information Technology and Web Technology","Primary Category_Crime, Criminology, Police and Prisons",Primary Category_Digital Society,Primary Category_Education & Research,Primary Category_Environment,"Primary Category_Government, Law & Politics",Primary Category_History,...,URL_https://www.thewardrobe.org.uk/,URL_https://www.waterways.org.uk/,URL_https://www.wiki.ed.ac.uk/display/JISC/JISC+Learning+and+Teaching+Innovation,URL_https://www.wiki.ed.ac.uk/display/SGC4L/Home,URL_textualities.net/,URL_www.catribunal.org.uk/,URL_www.ch.ic.ac.uk/vchemlab/,URL_www.cityofliterature.com/,URL_www.crmsociety.com/,URL_www.gsi.org.uk/
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26793,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26794,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26795,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26796,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26797,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
features.shape

(26798, 26203)

In [9]:
df

,Primary Category,Secondary Category,Title,URL
0,Arts & Humanities,Architecture,68 Dean Street,http://www.sixty8.com/
1,Arts & Humanities,Architecture,Abandoned Communities,http://www.abandonedcommunities.co.uk/
2,Arts & Humanities,Architecture,Alexander Thomson Society,http://www.greekthomson.com/
3,Arts & Humanities,Architecture,"Arab British Centre, The",http://www.arabbritishcentre.org.uk/
4,Arts & Humanities,Architecture,Architectural Association School of Architecture,http://www.aaschool.ac.uk/
...,...,...,...,...
26793,Travel & Tourism,Cornwall,West Briton and Cornwall Advertiser - transcri...,http://freepages.genealogy.rootsweb.ancestry.c...
26794,Travel & Tourism,Cornwall,West Cornwall Community Network,http://www.wccn.org.uk/
26795,Travel & Tourism,Cornwall,West Penwith Resources,http://www.west-penwith.org.uk/
26796,Travel & Tourism,Cornwall,Yeate Farm - the Granary self-catering accommo...,http://www.yeatefarm.co.uk/
26797,Travel & Tourism,Cornwall,geecee.co.uk,http://www.geecee.co.uk/

In [10]:
df['scheme'],df['netloc'],*_ = zip(*df['URL'].map(urlparse))

In [11]:
df

,Primary Category,Secondary Category,Title,URL,scheme,netloc
0,Arts & Humanities,Architecture,68 Dean Street,http://www.sixty8.com/,http,www.sixty8.com
1,Arts & Humanities,Architecture,Abandoned Communities,http://www.abandonedcommunities.co.uk/,http,www.abandonedcommunities.co.uk
2,Arts & Humanities,Architecture,Alexander Thomson Society,http://www.greekthomson.com/,http,www.greekthomson.com
3,Arts & Humanities,Architecture,"Arab British Centre, The",http://www.arabbritishcentre.org.uk/,http,www.arabbritishcentre.org.uk
4,Arts & Humanities,Architecture,Architectural Association School of Architecture,http://www.aaschool.ac.uk/,http,www.aaschool.ac.uk
...,...,...,...,...,...,...
26793,Travel & Tourism,Cornwall,West Briton and Cornwall Advertiser - transcri...,http://freepages.genealogy.rootsweb.ancestry.c...,http,freepages.genealogy.rootsweb.ancestry.com
26794,Travel & Tourism,Cornwall,West Cornwall Community Network,http://www.wccn.org.uk/,http,www.wccn.org.uk
26795,Travel & Tourism,Cornwall,West Penwith Resources,http://www.west-penwith.org.uk/,http,www.west-penwith.org.uk
26796,Travel & Tourism,Cornwall,Yeate Farm - the Granary self-catering accommo...,http://www.yeatefarm.co.uk/,http,www.yeatefarm.co.uk
26797,Travel & Tourism,Cornwall,geecee.co.uk,http://www.geecee.co.uk/,http,www.geecee.co.uk

In [12]:
df.netloc[:10]

0                    www.sixty8.com
1    www.abandonedcommunities.co.uk
2              www.greekthomson.com
3      www.arabbritishcentre.org.uk
4                www.aaschool.ac.uk
5         www.ahra-architecture.org
6              www.architecture.com
7              www.architecture.com
8               architecturemps.com
9      www.artek-design-house.co.uk
Name: netloc, dtype: object

In [13]:
url = df.netloc[1].split('.')

In [14]:
len(url)

4

In [15]:
toolz.itertoolz.tail(2,url)

['co', 'uk']

In [16]:
test_urls = df.netloc.tolist()

In [17]:
counts = set([len(url.split('.')) for url in test_urls])

In [18]:
df.netloc = df.netloc.str.split('.')

In [19]:
df

,Primary Category,Secondary Category,Title,URL,scheme,netloc
0,Arts & Humanities,Architecture,68 Dean Street,http://www.sixty8.com/,http,"[www, sixty8, com]"
1,Arts & Humanities,Architecture,Abandoned Communities,http://www.abandonedcommunities.co.uk/,http,"[www, abandonedcommunities, co, uk]"
2,Arts & Humanities,Architecture,Alexander Thomson Society,http://www.greekthomson.com/,http,"[www, greekthomson, com]"
3,Arts & Humanities,Architecture,"Arab British Centre, The",http://www.arabbritishcentre.org.uk/,http,"[www, arabbritishcentre, org, uk]"
4,Arts & Humanities,Architecture,Architectural Association School of Architecture,http://www.aaschool.ac.uk/,http,"[www, aaschool, ac, uk]"
...,...,...,...,...,...,...
26793,Travel & Tourism,Cornwall,West Briton and Cornwall Advertiser - transcri...,http://freepages.genealogy.rootsweb.ancestry.c...,http,"[freepages, genealogy, rootsweb, ancestry, com]"
26794,Travel & Tourism,Cornwall,West Cornwall Community Network,http://www.wccn.org.uk/,http,"[www, wccn, org, uk]"
26795,Travel & Tourism,Cornwall,West Penwith Resources,http://www.west-penwith.org.uk/,http,"[www, west-penwith, org, uk]"
26796,Travel & Tourism,Cornwall,Yeate Farm - the Granary self-catering accommo...,http://www.yeatefarm.co.uk/,http,"[www, yeatefarm, co, uk]"
26797,Travel & Tourism,Cornwall,geecee.co.uk,http://www.geecee.co.uk/,http,"[www, geecee, co, uk]"

In [20]:
df[['url1', 'url2','url3','url4','url5','url6']] = pd.DataFrame(df['netloc'].tolist(), index=df.index)

In [21]:
df.isna().sum()

Primary Category          0
Secondary Category        0
Title                     0
URL                       0
scheme                    0
netloc                    0
url1                      0
url2                     10
url3                    942
url4                  11538
url5                  25877
url6                  26730
dtype: int64

In [22]:
df

,Primary Category,Secondary Category,Title,URL,scheme,netloc,url1,url2,url3,url4,url5,url6
0,Arts & Humanities,Architecture,68 Dean Street,http://www.sixty8.com/,http,"[www, sixty8, com]",www,sixty8,com,None,None,None
1,Arts & Humanities,Architecture,Abandoned Communities,http://www.abandonedcommunities.co.uk/,http,"[www, abandonedcommunities, co, uk]",www,abandonedcommunities,co,uk,None,None
2,Arts & Humanities,Architecture,Alexander Thomson Society,http://www.greekthomson.com/,http,"[www, greekthomson, com]",www,greekthomson,com,None,None,None
3,Arts & Humanities,Architecture,"Arab British Centre, The",http://www.arabbritishcentre.org.uk/,http,"[www, arabbritishcentre, org, uk]",www,arabbritishcentre,org,uk,None,None
4,Arts & Humanities,Architecture,Architectural Association School of Architecture,http://www.aaschool.ac.uk/,http,"[www, aaschool, ac, uk]",www,aaschool,ac,uk,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
26793,Travel & Tourism,Cornwall,West Briton and Cornwall Advertiser - transcri...,http://freepages.genealogy.rootsweb.ancestry.c...,http,"[freepages, genealogy, rootsweb, ancestry, com]",freepages,genealogy,rootsweb,ancestry,com,None
26794,Travel & Tourism,Cornwall,West Cornwall Community Network,http://www.wccn.org.uk/,http,"[www, wccn, org, uk]",www,wccn,org,uk,None,None
26795,Travel & Tourism,Cornwall,West Penwith Resources,http://www.west-penwith.org.uk/,http,"[www, west-penwith, org, uk]",www,west-penwith,org,uk,None,None
26796,Travel & Tourism,Cornwall,Yeate Farm - the Granary self-catering accommo...,http://www.yeatefarm.co.uk/,http,"[www, yeatefarm, co, uk]",www,yeatefarm,co,uk,None,None
26797,Travel & Tourism,Cornwall,geecee.co.uk,http://www.geecee.co.uk/,http,"[www, geecee, co, uk]",www,geecee,co,uk,None,None

# Save intermediate

In [23]:
df.to_csv(path/'interim/02_classification_split_urls.csv')

In [38]:
df = pd.read_csv(path/'interim/02_classification_split_urls.csv')

In [39]:
df

,Unnamed: 0,Primary Category,Secondary Category,Title,URL,scheme,netloc,url1,url2,url3,url4,url5,url6
0,0,Arts & Humanities,Architecture,68 Dean Street,http://www.sixty8.com/,http,"['www', 'sixty8', 'com']",www,sixty8,com,NaN,NaN,NaN
1,1,Arts & Humanities,Architecture,Abandoned Communities,http://www.abandonedcommunities.co.uk/,http,"['www', 'abandonedcommunities', 'co', 'uk']",www,abandonedcommunities,co,uk,NaN,NaN
2,2,Arts & Humanities,Architecture,Alexander Thomson Society,http://www.greekthomson.com/,http,"['www', 'greekthomson', 'com']",www,greekthomson,com,NaN,NaN,NaN
3,3,Arts & Humanities,Architecture,"Arab British Centre, The",http://www.arabbritishcentre.org.uk/,http,"['www', 'arabbritishcentre', 'org', 'uk']",www,arabbritishcentre,org,uk,NaN,NaN
4,4,Arts & Humanities,Architecture,Architectural Association School of Architecture,http://www.aaschool.ac.uk/,http,"['www', 'aaschool', 'ac', 'uk']",www,aaschool,ac,uk,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
26793,26793,Travel & Tourism,Cornwall,West Briton and Cornwall Advertiser - transcri...,http://freepages.genealogy.rootsweb.ancestry.c...,http,"['freepages', 'genealogy', 'rootsweb', 'ancest...",freepages,genealogy,rootsweb,ancestry,com,NaN
26794,26794,Travel & Tourism,Cornwall,West Cornwall Community Network,http://www.wccn.org.uk/,http,"['www', 'wccn', 'org', 'uk']",www,wccn,org,uk,NaN,NaN
26795,26795,Travel & Tourism,Cornwall,West Penwith Resources,http://www.west-penwith.org.uk/,http,"['www', 'west-penwith', 'org', 'uk']",www,west-penwith,org,uk,NaN,NaN
26796,26796,Travel & Tourism,Cornwall,Yeate Farm - the Granary self-catering accommo...,http://www.yeatefarm.co.uk/,http,"['www', 'yeatefarm', 'co', 'uk']",www,yeatefarm,co,uk,NaN,NaN
26797,26797,Travel & Tourism,Cornwall,geecee.co.uk,http://www.geecee.co.uk/,http,"['www', 'geecee', 'co', 'uk']",www,geecee,co,uk,NaN,NaN

In [40]:
features = df.iloc[:,2:]

In [41]:
features = features.drop(labels=['url2'],axis=1)

In [42]:
features = pd.get_dummies(features)

In [43]:
features

,Secondary Category_19th Century English Literature,"Secondary Category_Agriculture, Fishing, and Forestry",Secondary Category_Alternative Medicine / Complementary Medicine,Secondary Category_Architecture,Secondary Category_Art and Design,"Secondary Category_Banking, Insurance, Accountancy and Financial Economics",Secondary Category_Blogs,Secondary Category_British Countryside,Secondary Category_Business Studies and Management Theory,Secondary Category_Cambridge Network,...,url5_eu,url5_gov,url5_net,url5_org,url5_uk,url5_uk:16080,url5_uk:8080,url5_uk:8081,url5_uk:9080,url6_uk
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26793,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26794,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26795,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26796,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26797,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [44]:
target = df['Primary Category'].astype('category').cat.codes.to_numpy('float')

In [45]:
features['target'] = target

In [46]:
features

,Secondary Category_19th Century English Literature,"Secondary Category_Agriculture, Fishing, and Forestry",Secondary Category_Alternative Medicine / Complementary Medicine,Secondary Category_Architecture,Secondary Category_Art and Design,"Secondary Category_Banking, Insurance, Accountancy and Financial Economics",Secondary Category_Blogs,Secondary Category_British Countryside,Secondary Category_Business Studies and Management Theory,Secondary Category_Cambridge Network,...,url5_gov,url5_net,url5_org,url5_uk,url5_uk:16080,url5_uk:8080,url5_uk:8081,url5_uk:9080,url6_uk,target
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
1,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26793,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,23.0
26794,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,23.0
26795,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,23.0
26796,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,23.0
26797,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,23.0

In [47]:
from sklearn.ensemble import RandomForestClassifier

In [48]:
# Use numpy to convert to arrays
import numpy as np# Labels are the values we want to predict
labels = np.array(features['target'])# Remove the labels from the features
# axis 1 refers to the columns
features= features.drop('target', axis = 1)# Saving feature names for later use
feature_list = list(features.columns)# Convert to numpy array
features = np.array(features)

In [49]:
# Using Skicit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split# Split the data into training and testing sets
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.25, random_state = 42)

In [50]:
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (20098, 39950)
Training Labels Shape: (20098,)
Testing Features Shape: (6700, 39950)
Testing Labels Shape: (6700,)

In [ ]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 100, random_state = 42, n_jobs=-1, verbose=1)# Train the model on training data

In [ ]:
rf.fit(train_features, train_labels)

In [62]:
rf.score(test_features,test_labels)

NameError: name 'rf' is not defined